{% extends "base_users.html" %}
{% load static %}


{% block body %}

<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form method="POST">
            <h1>Inicia Sesión</h1>
            <br>
            <br>
            {% csrf_token %}
            <div class="form-group">
                {{ field.errors }}
                <label>Correo electrónico</label>
                <p>{{ form.username }}</p>
                <label>Contraseña</label>
                <p>{{ form.password }}</p>
                <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
            </div>
                            <br>
                <br>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
	</div>

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<p>¿Aun no tienes una cuenta?</p>
				<button class="ghost" id="signUp"><a href="{% url 'Signup' %}" style="color:white">Registrarte</a></button>
			</div>
		</div>
	</div>
</div>

{% endblock %}