{% extends "base_users.html" %}
{% load static %}


{% block body %}

<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form method="POST">
            <h1>Recuperar contraseña</h1>
            <br>
            <br>
            {% csrf_token %}
            <div class="form-group">
                {{ form.errors }}
                <label>Correo electrónico</label>
                <p>{{ form.email }}</p>
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Reestablecer</button>
        </form>
	</div>

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<button class="ghost" id="signUp"><a href="{% url 'Signup' %}"style="color:white" >Iniciar Sesión</a></button>
			</div>
		</div>
	</div>
</div>

{% endblock %}